<mat-card class="box">
  <div class="left mat-card" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="50%" class="full">
      <mat-form-field>
        <input matInput placeholder="Customer Type" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Customer ID" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Customer Name" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Customer Group" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Issue Location" value="">
      </mat-form-field>
    </div>
    <div class="item item-1" fxFlex="50%" class="full">
      <mat-form-field>
        <input matInput placeholder="Branch Code" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Branch License" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Open Date" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Unit Code" value="">
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="left mat-card" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="100%" class="full">
      <mat-form-field>
        <mat-select placeholder="Select Gender" name="item">
          <mat-option>
            Male
          </mat-option>
          <mat-option>
            Female
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Full Name" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="First Name" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" value="">
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="left mat-card" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1 full" fxFlex="20%">
      <mat-form-field>
        <input matInput placeholder="Status" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Birth Date" value="">
      </mat-form-field>

    </div>
    <div class="item item-1 full" fxFlex="20%">
      <mat-form-field>
        <input matInput placeholder="Street 1" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Street 2" value="">
      </mat-form-field>
    </div>
    <div class="item item-1 full" fxFlex="20%">
      <mat-form-field>
        <input matInput placeholder="Village 1" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Village 2" value="">
      </mat-form-field>
    </div>
    <div class="item item-1 full" fxFlex="20%">
      <mat-form-field>
        <input matInput placeholder="City 1" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City 2" value="">
      </mat-form-field>
    </div>
    <div class="item item-1 full" fxFlex="20%">
      <mat-form-field>
        <input matInput placeholder="Province 1" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Province 2" value="">
      </mat-form-field>
    </div>
  </div>

  <br>
  <div class="left mat-card"  fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1 "  fxFlex="25%">
      <mat-form-field>
        <input matInput placeholder="National ID" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Passport" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Family Book" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" value="">
      </mat-form-field>
    </div>
    <div class="item item-1 " fxFlex="25%">
        <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Issue Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Issue Date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput [matDatepicker]="picker3" placeholder="Issue Date">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Natinality" value="">
      </mat-form-field>
    </div>
    <div class="item item-1 " fxFlex="25%">
        <mat-form-field>
            <input matInput [matDatepicker]="picker4" placeholder="Expire date">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput [matDatepicker]="picker5" placeholder="Expire  date">
            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput [matDatepicker]="picker6" placeholder="Expire date">
            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
            <mat-datepicker #picker6></mat-datepicker>
        </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Country" value="">
      </mat-form-field>
    </div>
    <div class="item item-1 " fxFlex="25%">
      <mat-form-field>
        <input matInput placeholder="Mobile Phone" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone Officer" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Home Phone" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Loan Officer" value="">
      </mat-form-field>
    </div>
  </div>
</mat-card>