<mat-card>
  <h3>Customer Profile</h3>
  <mat-divider>
  </mat-divider><br>
  <div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" class="full" fxFlex="70%">
      <mat-form-field>
        <input matInput placeholder="Customer Name" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Customer Last Name" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone Number" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Village" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="District" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Purpose" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Receptionist" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    
      <div class="item item-1" class="full" fxFlex="100%">
          
              <table mat-table [dataSource]="dataSource">
            
                <!-- Position Column -->
                <ng-container matColumnDef="DocumentType">
                  <th mat-header-cell *matHeaderCellDef> Document Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.DocumentType}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="DocumentName">
                  <th mat-header-cell *matHeaderCellDef> Document Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.DocumentName}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="DateRecieve">
                  <th mat-header-cell *matHeaderCellDef> Date Recieve </th>
                  <td mat-cell *matCellDef="let element"> {{element.DateRecieve}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="Link">
                  <th mat-header-cell *matHeaderCellDef> Link </th>
                  <td mat-cell *matCellDef="let element"> {{element.Link}} </td>
                </ng-container>
   
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
      </div>
    </div>
</mat-card>