<mat-card>

  <h4>Conditions</h4>



  <div class="" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="10%">
      <mat-card>
        STATUS A
      </mat-card>

    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        0
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        TO
      </mat-card>

    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        29
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
      <mat-card>
        @OUTSTANDING*0.5/100
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="20%" fxFlexOrder="3">

    </div>
  </div>
  <br>
  <div class="" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="10%">
      <mat-card>
        Status B
      </mat-card>

    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        30
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        TO
      </mat-card>

    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        79
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
      <mat-card>
        @OUTSTANDING*3/100
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
      <mat-card>
      <input type="checkbox" name="statusb" id="statusb">
      <label for="statusb">STOP ACCRUE</label>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="10%">
      <mat-card>
        Status C
      </mat-card>

    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        80
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        TO
      </mat-card>

    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        179
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
      <mat-card>
        @OUTSTANDING*20/100
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
        <mat-card>
            <input type="checkbox" name="statusc" id="statusc">
            <label for="statusc">STOP ACCRUE</label>
            </mat-card>
    </div>
  </div>
  <br>
  <div class="" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="10%">
      <mat-card>
        Status D
      </mat-card>

    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        180
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        TO
      </mat-card>

    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        179
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
      <mat-card>
        @OUTSTANDING*50/100
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
        <mat-card>
            <input type="checkbox" name="statusd" id="statusd">
            <label for="statusd">STOP ACCRUE</label>
            </mat-card>
    </div>
  </div>
  <br>
  <div class="" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="10%">
      <mat-card>
        Status E
      </mat-card>

    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        360
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        TO
      </mat-card>

    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3">
      <mat-card>
        9999
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
      <mat-card>
        @OUTSTANDING*1
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
        <mat-card>
            <input type="checkbox" name="statuse" id="statuse">
            <label for="statuse">STOP ACCRUE</label>
            </mat-card>
    </div>
  </div>




</mat-card>