<mat-tab-group class="box">
  <mat-icon>assignment</mat-icon>
 
 



    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">assignment</mat-icon>
        &nbsp;  Principal
        </ng-template>
        <mat-card>
            <app-principal></app-principal>
        </mat-card>
      </mat-tab>


      <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">trending_up</mat-icon>
          &nbsp;  Interest
          </ng-template>
          <mat-card>
              <app-interest></app-interest>
          </mat-card>
        </mat-tab>

  </mat-tab-group>
  