<mat-card class="box">
  <h4>Calateral Information</h4>

  <mat-divider>
  </mat-divider>
  <br>
  <mat-card-content>
    <div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">

      <div class="item item-1 full" fxFlex="100%">


        <table mat-table [dataSource]="CalateralData" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="CalateralID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CalateralId </th>
            <td mat-cell *matCellDef="let row"> {{row.CalateralID}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="CalateralType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CalateralType </th>
            <td mat-cell *matCellDef="let row"> {{row.CalateralType}}% </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="CalateralName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Calateral Name </th>
            <td mat-cell *matCellDef="let row"> {{row.CalateralName}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="CalateralValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Calateral Value </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.CalateralValue}} </td>
          </ng-container>
          <ng-container matColumnDef="MarketValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Market Value </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.MarketValue}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayCalateralColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayCalateralColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

    </div>






  </mat-card-content>



</mat-card>

<mat-card class="box">
  <div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="100%">
      <table mat-table [dataSource]="CalateralAddressData" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="Street">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Street </th>
          <td mat-cell *matCellDef="let row"> {{row.Street}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="City">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
          <td mat-cell *matCellDef="let row"> {{row.City}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Province">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Province </th>
          <td mat-cell *matCellDef="let row"> {{row.Province}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="Picture">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.Picture}} </td>
        </ng-container>
 

        <tr mat-header-row *matHeaderRowDef="displayCalateralAddressColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayCalateralAddressColumns;">
        </tr>
      </table>

 
    </div>
  </div>
</mat-card>