.sidenav-container {
  height: 100%;
   
}
.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}
.spacer{
  flex: 1 1 auto;
 }

.mat-drawer-backdrop{
  height: 100%;;
}

.mat-toolbar.mat-primary {
  position: sticky !important;
  z-index:4;
  top: 0;
}
 @media(min-width: 3000px){
  .sidenav{
    display: none;
  }
}

/* .hidden{
  display: none;  
}  */ 

.bottom{
  margin-bottom: auto;
 }

 
 .inner-content{
  position: absolute;
  bottom: 0;
  left: 0;
}


/* .notofont{
  font-family: 'Noto Serif Lao';
} */

.notofont{
  font-family: 'Noto Serif Lao';
}
 
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}