<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar  class="notofont" style="color: white;">ເມນູ</mat-toolbar>
    <mat-nav-list>



        <mat-expansion-panel  *ngFor="let menu of mainMenu">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{menu.menuName}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a class="submenu-font" *ngFor="let submenu of menu.subMenu; let idx = index" mat-list-item routerLink="{{submenu.routerLink}}">{{idx + 1}}. {{submenu.subMenuName}}</a>
           
             
          </mat-expansion-panel>

          <button mat-button routerLink='/login'>Log Out</button>
      

     <!--  <a mat-list-item *ngIf="!_authService.loggedIn()" (click)="drawer.toggle()" routerLink="/login"><mat-icon matSuffix>lock_open</mat-icon>&nbsp;ເຂົ້າສູ່ລະບົບ</a>
       <a  routerLink="/home" mat-list-item *ngIf="_authService.loggedIn()" (click)="drawer.toggle()" ><mat-icon matSuffix>list</mat-icon>&nbsp; ເບິ່ງ Statement</a>
      <a  routerLink="/changepassword" mat-list-item *ngIf="_authService.loggedIn()" (click)="drawer.toggle()" ><mat-icon matSuffix>vpn_key</mat-icon>&nbsp; ປ່ຽນລະຫັດ</a>
   -->    
      <div class="inner-content">
         <!--  <a mat-list-item *ngIf="_authService.loggedIn()" routerLink="/manual" (click)="drawer.toggle()" ><mat-icon matSuffix>note</mat-icon>&nbsp;ຄູ່ມື</a> -->
          <!-- <a mat-list-item *ngIf="_authService.loggedIn()" ><mat-icon matSuffix>person_outline</mat-icon>ຜູ້ໃຊ້ລະບົບ: &nbsp;{{ _authService.getFullName() }}</a>
          <a mat-list-item routerLink="/how-to" (click)="drawer.toggle()" *ngIf="_authService.loggedIn()" ><mat-icon matSuffix>book&nbsp;</mat-icon>ຄູ່ມື</a>
          <a mat-list-item *ngIf="_authService.loggedIn()" (click)="_authService.logOut();drawer.toggle()"><mat-icon matSuffix>lock</mat-icon>&nbsp;ອອກຈາກລະບົບ</a>
      -->    
      <!--   <a mat-list-item (click)="drawer.toggle()" routerLink="/">ກ່່ຽວກັບ</a> -->
      </div> 
    </mat-nav-list>
  </mat-sidenav>
   
 <!--  <mat-sidenav-content (scroll)="scrollTop()"> -->
    <mat-sidenav-content  > 
    <mat-toolbar > 
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon style="color: white;" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     <!--  <img [routerLink]="['/home']" src="../../../../assets/osicon.png" style="border-radius: 5px;color: white;" alt="" width="50px">&nbsp;
    -->   <div style="color: white;">MF <!-- <div *ngIf="_authService.loggedIn(); else notlogin"> ຂອງຮ້ານ {{ _authService.getMerchantName()}}</div> --></div>
      <span class="spacer">
       
      </span>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon> User Name: Saiyavong</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item><mat-icon>face</mat-icon> Profile</button>
  <button mat-menu-item><mat-icon>lock</mat-icon>Change Password</button>
</mat-menu>
    </mat-toolbar>

    <div class="inner-content example-container">
        
    </div>
    <ng-content></ng-content>
   

   <!--  <button  mat-fab   (click)="onGotoTopClick()" color="primary"   style="position: fixed;  bottom: 30px; right: 30px;">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>  -->

  </mat-sidenav-content>

 

 
</mat-sidenav-container>






<!-- <ng-template #notlogin> 
  <label></label>
</ng-template>

<ng-template #login>
 <label> ຂອງຮ້ານ {{ _authService.getMerchantName()}}</label>
</ng-template> -->