<mat-card class="full box">
 
<h3 class="">User Permission</h3>
<mat-divider>
</mat-divider>
<br>
  <mat-form-field>
    <input matInput placeholder="User ID" value="">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" value="">
  </mat-form-field>
  <mat-form-field>
  <mat-select placeholder="Select User Group" name="item">
    <mat-option>
      User
    </mat-option>
    <mat-option>
      Owner
    </mat-option>
  </mat-select></mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Branch Code" value="">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Unit Code" value="">
  </mat-form-field>

<br>
  Permission:
    <mat-radio-group>
      <mat-radio-button value="Maker">Maker</mat-radio-button>
      <mat-radio-button value="value2">Authorizer</mat-radio-button>
      <mat-radio-button value="value">Both</mat-radio-button>
    </mat-radio-group>
<div class="btn-right">
  <button mat-button><mat-icon>save</mat-icon> Save</button>
</div>
</mat-card>

