<app-main-nav>
  <div class="container">
<!--      <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="15%">Item 1</div>
      <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
      <div class="item item-3" fxFlex>Item 3</div>
    </div>

    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div class="item item-4" fxFlex fxFlexOffset="50px" fxFlexOffset.xs="0">Item 4</div>
      <div class="item item-5" fxFlex="200px">Item 5</div>

    </div>  -->



  <div class="route-container" >
    <router-outlet></router-outlet>
</div>

  </div>

</app-main-nav>