<mat-card class="box">
    <h3>Customer Group</h3>
    <mat-divider>
    </mat-divider><br>
  <div class="full"> 
      <mat-form-field>
          <input matInput placeholder="Customer Group Code" value="">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Customer Group Description" value="">
        </mat-form-field>
        <div class="btn-right">
            <button  mat-raised-button color=""><mat-icon>save</mat-icon> Save</button>
        </div>
  </div> 
</mat-card>