<div class="container">

    <mat-card class="box"> 
<h4>Product Maintenance</h4> 

<mat-divider>
</mat-divider>
<br>
      <mat-card-content>
        <div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
        
          <div class="item item-1" fxFlex="50%">
  
             <mat-card class=" ">
                <h4 for="producttype">Product Type:</h4>
              <mat-radio-group>
                <mat-radio-button value="loan">Loan</mat-radio-button>
                <mat-radio-button value="leasing">Leasing</mat-radio-button>
                <mat-radio-button value="resolving">Resolving</mat-radio-button>
              </mat-radio-group>
             </mat-card>
             
          </div>
         
          <div class="item item-2" fxFlex="50%" fxFlexOrder="3">
            <mat-card class=" ">
                <h4 for="producttype">Payment Type:</h4>
              <mat-radio-group>
                <mat-radio-button value="loan">Fix Principal</mat-radio-button>
                <mat-radio-button value="leasing">Fix Principal and Interest</mat-radio-button>
                <mat-radio-button value="resolving">Fix Leasing</mat-radio-button>
              </mat-radio-group>
            </mat-card>
            
             
          </div>
  
        </div>
        <br>
        <div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
         
          <div class="item item-1" fxFlex="50%">
  
             <mat-card class=" ">
                <h4 for="">Loan Term:</h4>
              <mat-radio-group>
                <mat-radio-button value="loan">Loan</mat-radio-button>
                <mat-radio-button value="leasing">Leasing</mat-radio-button>
                <mat-radio-button value="resolving">Resolving</mat-radio-button>
              </mat-radio-group>
             </mat-card>
            
          </div>  
         
          <div class="item item-2" fxFlex="50%" fxFlexOrder="3">
               
             <mat-card class=" "> 
               <h4>Product Description:</h4>
                <div class="full">
                    <mat-form-field>
                      <input matInput placeholder="Product Description" value="">
                    </mat-form-field>
                  </div>
             </mat-card>
            
          </div>
  
        </div>
  
  
      </mat-card-content>
  
  
  
    </mat-card>
  
  
  </div>