
        <mat-card>
            <mat-card-header>
              <mat-card-title></mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h4> Term Payment</h4>
              <mat-divider>
              </mat-divider><br>
              <mat-radio-group>
                <mat-radio-button value="day">Day</mat-radio-button>
               
                <mat-radio-button value="month">Month</mat-radio-button>
                <mat-radio-button value="year">Year</mat-radio-button>
              </mat-radio-group>
            </mat-card-content>
          </mat-card>
<br>
          <mat-card  class="full">

              <h4>Base Rate:</h4>
               <mat-divider>
               </mat-divider>
               <br>
              <mat-form-field> 
                  <input type="number" matInput placeholder="%" value="">
              </mat-form-field>
             
          </mat-card>
          <br>
        <mat-card class="full">
            
            <h4>Over Due Rate</h4>
            <mat-divider>
            </mat-divider>
            <br>
            <mat-form-field>
                <input type="number" matInput placeholder="%" value="">
            </mat-form-field>
        </mat-card>
    <br>
          <mat-card class="full"> 

              <mat-card-content>
                <h4>Repayment</h4>
                <mat-divider>
                </mat-divider>
                <mat-radio-group>
                  <mat-radio-button value="day">On Day</mat-radio-button>
                  <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field><br>
                  <mat-radio-button value="day">Open Date</mat-radio-button><br><br>
                  <mat-radio-button value="month">Middle of Month</mat-radio-button><br><br>
                  <mat-radio-button value="year">End of Month</mat-radio-button>
                </mat-radio-group>
              </mat-card-content>
            </mat-card>

    