<div class="footer  full">
    <mat-button-toggle-group name="fontStyle" class="full" aria-label="Font Style">
      <mat-button-toggle routerLink='./product-component' value="bold">Component</mat-button-toggle>
      <mat-button-toggle routerLink="./events" value="italic">Event</mat-button-toggle>
      <mat-button-toggle routerLink="./conditions" value="underline">Condition</mat-button-toggle>
      <mat-button-toggle routerLink="./accounting-entries" value="underline">Accounting Entries</mat-button-toggle>
      <mat-button-toggle routerLink="./formulas" value="underline">Formula</mat-button-toggle>
    </mat-button-toggle-group>
  </div>