<div class="container">

  <mat-card class="box full">
    <h4>Branch Management</h4>

    <mat-divider>
    </mat-divider>
    <br>

    <mat-form-field>
      <input matInput placeholder="Branch Code" value="">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Branch Name" value="">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="GL Inter Branch" value="">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Report Branch" value="">
    </mat-form-field>
    <div class="btn-right">
      <button mat-raised-button color="">Save</button>
    </div>
  </mat-card>
  <br>
  <mat-card class="full box">
      <h4>Branch Information</h4>

      <mat-divider>
      </mat-divider><br>
<!--     <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Street">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Street </th>
        <td mat-cell *matCellDef="let row"> {{row.Street}} </td>
      </ng-container>
      <ng-container matColumnDef="Village">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Village </th>
        <td mat-cell *matCellDef="let row"> {{row.Village}} </td>
      </ng-container>
      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
        <td mat-cell *matCellDef="let row"> {{row.City}} </td>
      </ng-container>
      <ng-container matColumnDef="Province">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Province </th>
        <td mat-cell *matCellDef="let row"> {{row.Province}} </td>
      </ng-container>
      <ng-container matColumnDef="Picture">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
        <td mat-cell *matCellDef="let row"> {{row.Picture}} </td>
      </ng-container>
    </mat-table> -->





    <div class="mat-elevation-z8 full">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="Street">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Street </th>
          <td mat-cell *matCellDef="let row"> {{row.Street}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="Village">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Village </th>
          <td mat-cell *matCellDef="let row"> {{row.Village}}% </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="City">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
          <td mat-cell *matCellDef="let row"> {{row.City}} </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="Province">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Province </th>
          <td mat-cell *matCellDef="let row" > {{row.Province}} </td>
        </ng-container>
        <ng-container matColumnDef="Picture">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
          <td mat-cell *matCellDef="let row" > {{row.Picture}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card>
</div>