<mat-card class="box">
  <h3>Customer Profile</h3>
  <mat-divider>
  </mat-divider><br>

  <div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div class="item item-1" fxFlex="50%">
        <div class="full">
            <mat-form-field>
              <input matInput placeholder="First Name English" value="">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="First Name Lao" value="">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Issue Location" value="">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Lao Street Name" value="">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Issue Location" value="">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Economic Section" value="">
              </mat-form-field>
          </div>

        
          
    </div>
    <div class="item item-1" fxFlex="50%">
        <div class="full">
            <mat-form-field>
              <input matInput placeholder="First Surname English" value="">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Surname Lao" value="">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Lao Village Name" value="">
                </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Economic Division" value="">
                </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="First Name" value="">
                </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Last Name" value="">
                </mat-form-field>
          </div>
          <div class="btn-right">
              <button  mat-raised-button color=""><mat-icon>save</mat-icon> Save</button>
          </div>
    </div>

  </div>



</mat-card>