<div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div class="item item-1" fxFlex="30%">
    <mat-card class="full box" >
      <h4>Log In</h4>
<mat-divider>
</mat-divider><br>

      <mat-form-field>
        <input matInput type="text" placeholder="User ID" value="">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" value="" [type]="hide ? 'text' : 'password'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <mat-checkbox>Remember me</mat-checkbox><br>
      <br>
      <button mat-raised-button>
        <mat-icon matSuffix>lock</mat-icon> Login
      </button>

<br>
<br>
      <div class="left" fxLayout fxLayout.xs="column"  fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div fxFlex="50%" fxLayoutAlign="left">
            <button mat-button color="">Forget Password</button>
          
        </div>
    

       
      </div>




    </mat-card>


  </div>



</div>