/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



body{
    margin: 0;
  }
  .sidenav-container
  {
     
 
      background-repeat: round    ; 
      background-attachment: fixed;
      position: relative;
      background-size:  cover;

  
  
  }

  .mat-toolbar{
    background-color:#0680f9	;
  }




  .full {
    display: flex;
    flex-direction: column;
  }
  
  .full > * {
    width: 100%;
  }
  .center{
    text-align:  center;
  }
  .left{
    text-align: left;
  }
  .container{
    margin: 10px;
    background-color:white;
  }
  body,html, .mat-drawer-content{
    background-color: white;
  }
  .mat-radio-button {
    margin: 0 5px;
  }        
  .footer{
    padding-top: 10px;
        z-index: 5;
        color: white;
        position: fixed;
        text-align: center;
        bottom:0px;
 margin-right: 10px;
         width: 83%;
     
    }                                                       

 
  .route-container {
    position:relative;

 
}
.route-container>* {
    display:block;
}
.box{
  border: 1px solid #067ff9a8	;
  border-top: 5px solid  #067ff9a8	;
}
.pad{
  padding-left: 400px !important;
  padding-right: 400px !important;
}
.mat-expansion-panel{
  border-radius: 0px !important;
}
html,
body {
  height: 100%;
 
   
}
.spacer{
  flex: 1 1 auto;
 }
.mat-button, .mat-raised-button{
  background-color:#0680f9	;
  color: white;
}
.btn-right{
  text-align: right;
}

.submenu-font{
  font-size: 12px !important;
}
 