<div class="container">

  <mat-card class="box">
    <h4>Adjust Posting Or Data Entries</h4>

    <mat-divider>
    </mat-divider>
    <br>
    <mat-card-content>
      <div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">

        <div class="item item-1" fxFlex="70%">

          <mat-card class="full">
            <h4 for="producttype">Product Type:</h4>
           <mat-form-field>
             <input matInput placeholder="DR Account" value="">
           </mat-form-field>
           <mat-form-field>
             <input matInput placeholder="CR Account" value="">
           </mat-form-field>
           <mat-form-field>
             <input matInput placeholder="Amount" value="">
           </mat-form-field>
           <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Business Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
           
          </mat-card>

        </div>

        <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
          <mat-card class="full">
            <button mat-button>Add</button><br><br>
            <button mat-button>Modify</button><br><br>
            <button mat-button>Delete</button><br>
          </mat-card>


        </div>

      </div>
      <br>
      <div class="left" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">

        <div class="item item-1" fxFlex="50%">

          <mat-card class=" ">
            <h4 for="">Loan Term:</h4>
            <mat-radio-group>
              <mat-radio-button value="loan">Loan</mat-radio-button>
              <mat-radio-button value="leasing">Leasing</mat-radio-button>
              <mat-radio-button value="resolving">Resolving</mat-radio-button>
            </mat-radio-group>
          </mat-card>

        </div>

        <div class="item item-2" fxFlex="50%" fxFlexOrder="3">

          <mat-card class=" ">
            <h4>Product Description:</h4>
            <div class="full">
              <mat-form-field>
                <input matInput placeholder="Product Description" value="">
              </mat-form-field>
            </div>
          </mat-card>

        </div>

      </div>


    </mat-card-content>



  </mat-card>


</div>