<div class="container">

  <mat-card class="box">
    <h4>Inter Branch Setting</h4>

    <mat-divider>
    </mat-divider>
    <br>

    <mat-card class="full">
      <h5>Branch 1</h5>
      <mat-divider>
      </mat-divider><br>
      <mat-form-field>
        <input matInput placeholder="Branch Code 1" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Branch Name" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="GL Inter Branch" value="">
      </mat-form-field>
    </mat-card>
    <br>
    <mat-card class="full">
      <h5>Branch 2</h5>
      <mat-divider>
      </mat-divider><br>
      <mat-form-field>
        <input matInput placeholder="Branch Code 2" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Branch Name" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="GL Inter Branch" value="">
      </mat-form-field>
    </mat-card><br>


    <div class="btn-right">
      <button mat-raised-button color=""><mat-icon>save</mat-icon> Save</button>
    </div>
  </mat-card>

</div>